body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'ו',Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    background-color : #f0f0f0;
}

.header-img{
    padding: 0;
    margin: 0;
    position: relative;
}

.header-img >img{
    width: 100%;
    height:260px;
}
.content{
        padding: 0;
        margin: 0 auto;
        position: relative;
        width:980px;
        margin-top: 85px;
        z-index: 10;
    }
.content-card {
	width: 980px;
    background-color: #fff;
}
.list-group-item {
    border: 0px solid #ddd;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group>a{
    border-top: 1px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
}
.list-group small{
    float: right;
}
 .content-card .row, .col-sm-9, .col-sm-3, .sidebar-offcanvas {
        margin: 0;
        padding: 0;
    }

    .content-card .col-sm-9{
        box-shadow: 0px 1px 3px #BDBDBD;
        width: 79%;
    }
     .content-card .col-sm-3{
        width: 20.9%;
    }
    .main-title h1{
        font-size: 48px;
        color: #fff;
        margin-bottom: 24px;
    }
    .main-title small{
        color: #fff;
        font-size: 30px;
    }
    .hvr-sweep-to-right {
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    


    /* Sweep To Right */
    
    .hvr-sweep-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
        color: white;
    }
    .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
        z-index: 2;
        color: #fff;
        background: #03F;
        color: #fff;
        border-top: 0px;
        border-bottom: 1px solid #f6f6f6;
    }
    


