.list-group>a{
        height: 28px;
        padding-top: 18px;
    }
    hr{
    	margin-top:30px;
    }
    .content{
    	margin-bottom:50px;
    }
    .pc-nav{
    	margin-top:40px;
        margin-left:238px;
    }