body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei,'ו',Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    background-color : #f0f0f0;
}

.header-img{
    padding: 0;
    margin: 0;
    position: relative;
}

.header-img >img{
    width: 100%;
    height:260px;
}


.content-card {
    background-color: #fff;
}

.list-group-item {
    border: 0px solid #ddd;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group>a{
    border-top: 1px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
}
.list-group small{
    float: right;
}
@media screen and (max-width: 767px) {

    body{
        background-color: #fff;
    }
    .header-img{
        position: relative;
    }
    .header-img .img1{
        display:none;
        position: absolute;
        height: 160px;
    }
    .header-img .img2{
        position: absolute;
        height: 160px;
    }
    .header-img >img {
        height: 160px;
    }

    .content-card .col-sm-9{
        border-right: 1px solid #c0c0c0;
    }
    .navbar .container{
        padding: 20px 0 20px 0;
        margin: 0 auto;
    }
    .navbar-brand{
        margin-left: 15px;
    }

    .navbar-toggle{
        margin-right: 15px;
    }

    .content{
        padding: 0;
        position: relative;
        margin-top: 98px;
        z-index: 1;

    }
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }
    .list-group small{
        float: right;
    }
    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
    .content-card .main-article p{
        width: 100%;
        line-height: 1.563em;
    }
    .row-offcanvas-right .main-article,.main-img,.pull-right{
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-title{
        margin-left:15px;
    }
    .main-title h1{
        color: #fff;
        font-size: 1.875em;
    }
    .main-title small{
        color: #fff;
        font-size: 0.5em;
    }
    .pull-right{
        margin: 0;
        margin-top: 10px;
        margin-bottom:10px;
        
    }
    #sidebar{
        padding: 0;
    }
    .btn-primary {
        color: #717171;
        background-color: #FFFFFF;
        border-color: #C3C3C3;
    }
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
        z-index: 2;
        color: #fff;
        background-color: #03F;
        border-color: #C3C3C3;
    }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
        color: #717171;
        background-color: #fff;
        border-color:#C3C3C3;
    }
    .btn-primary:hover {
        color: #717171;
        background-color: #FFFFFF;
        border-color: #C3C3C3;
    }
    .btn-primary:focus{
        color: #717171;
        background-color: #FFFFFF;
        border-color: #C3C3C3;
    }

}

@media screen and (min-width: 768px) {
    .content-card .row, .col-sm-9, .col-sm-3, .sidebar-offcanvas {
        margin: 0;
        padding: 0;
    }
    .content-card{
        width:980px;
    }

    .content{
        padding: 0;
        margin: 0 auto;
        position: relative;
        width:980px;
        margin-top: 85px;
        z-index: 10;
    }
    .content-card .col-sm-9{
        box-shadow: 0px 1px 3px #BDBDBD;
        width: 80%;
    }
    .content-card .col-sm-3{
        width: 20%;
    }
    .content-card{
        box-shadow:0px 1px 3px #BDBDBD;
    }

    .main-title h1{
        font-size: 48px;
        color: #fff;
        margin-bottom: 24px;
    }
    .main-title small{
        color: #fff;
        font-size: 30px;
    }

    /* Sweep To Right */
    .hvr-sweep-to-right {
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .hvr-sweep-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #03F;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
        color: white;
    }
    .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
        z-index: 2;
        color: #fff;
        background: #03F;
        color: #fff;
        border-top: 0px;
        border-bottom: 1px solid #f6f6f6;
    }
    #sidebar{
        padding-left: 3px;
    }
}

@media (width: 768px) {
    body {
        background-color: #fff;
    }
    .content-card {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .content {
        position: relative;
        width: 768px;
        margin-top: 155px;
        z-index: 0;

    }
    .main-title h1{
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 2.188em;
    }
    .main-title small{
        font-size: 0.5em;
    }


}